@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-black font-poppins tracking-wide 
}

h1, h2 {
  @apply text-white font-semibold 
}

p {
  @apply opacity-70
}

.no-scrollbar {
  /* Firefox */
  scrollbar-width: none;
  /* Internet Explorer 10+ */
  -ms-overflow-style: none;
  /* Webkit */
  &::-webkit-scrollbar {
    display: none;
  }
}

.input-style {
  @apply ring-1 ring-neutral-800 bg-black py-4 px-6 rounded-full mb-6 block text-white text-[12px] w-[25rem]
}


